@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-pretendard:
    'Pretendard', 'AppleGothicNedSD', 'malgun gothic', 'sans-serif';
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-white-gradient: var(--white-gradient);
  --color-red: var(--red);
  --color-pink: var(--pink);
  --color-light-pink: var(--light-pink);
  --color-pink-gradient: var(--pink-gradient);
  --color-gray: var(--gray);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --white-gradient:
    180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 82%,
    rgba(255, 255, 255, 0) 100%;
  --red: #dc2b46;
  --pink: #f4bdc6;
  --light-pink: #fdecee;
  --pink-gradient: 115deg, #fffafa 16.59%, #ffa8b6 81.15%;
  --gray: #6d6d6d;
  --border: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
}

.dark {
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-pretendard bg-transparent text-sm text-black;
  }
}
